.form__caption {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;

  @media screen and (min-width: 1200px) {
    line-height: 23px;
  }
}

.form__field {
  position: relative;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;

  &--text {
    margin-bottom: 20px;
  }
}

.form__label--style {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $second-text-color;
}

.form__input {
  position: relative;
  margin: 0;
  padding: 10px 15px 10px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-color;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:focus + & {
    fill: $accent-color;
  }
}

.form__text {
  height: 120px;
  padding: 12px 16px;
  resize: none;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-color;
  }
}

.form__field textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.check__input--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.check {
  position: relative;

  padding-left: 23px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $second-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;

  border: 2px solid $main-text-color;
  border-radius: 2px;
  background-size: contain;
  background-color: $main-bg-color;

  .check__input--hidden:checked + & {
    background-origin: border-box;

    border: 2px solid $accent-color;
    background-color: $accent-color;
    background-image: url(../images/iconcheck.svg);
  }

  .check__input--hidden:hover + & {
    border-color: rgba(24, 140, 232, 1);
  }
}

.check__link {
  text-decoration: underline;
  color: $accent-color;

  &:hover,
  &:focus {
    color: rgba(24, 140, 232, 1);
  }
}

.submit-button {
  display: flex;
  align-items: center;
  padding: 10px 55px;
  margin: 0 auto;
  border-style: none;
  border-radius: 4px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  color: $main-bg-color;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
  }
}
