.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}

.footer__list {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__list > li:not(:last-child) {
  display: block;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}
