.header__button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  cursor: pointer;
  fill: $main-text-color;
  background-color: $main-bg-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 480px) {
    display: none;
  }
}

.mobile.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 48px 0 48px 0;
  background-color: $main-bg-color;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    display: none;
  }
}

.mobile__close-button {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  cursor: pointer;

  fill: $main-text-color;
  background-color: $main-bg-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.mobile__nav {
  margin-left: 40px;
}

.mobile-nav__link {
  display: inline-block;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 40px;
  line-height: calc(47px / 40px);
  letter-spacing: 0.02em;
  color: $main-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile__contacts {
  margin-left: 40px;
}

.mobile-tel__link {
  display: flex;
  width: 100vw;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mobile-mail__link {
  display: block;
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: calc(28px / 24px);
  letter-spacing: 0.02em;
  color: $second-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile__socials {
  display: flex;
  justify-content: center;
}

.mobile-socials__item {
  position: relative;
  display: block;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: -20px;

    width: 22px;
    height: 0px;
    border: 1px solid #afb1b8;

    transform: translateY(-50%) rotate(90deg);
  }
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
  color: $accent-color;
}
