.header__logo {
  display: inline-block;
  color: $accent-color;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__logo--accent {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  color: $accent-color;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;

  @media screen and (min-width: 1200px) {
    justify-content: start;
    font-size: 26px;
    line-height: 1;
  }
}

.footer__logo--inverse {
  color: #ffffff;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1;
  }
}
