.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer__box {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  @include text-properties(null, 14px, 1.71, 0.03em);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}

.footer__list {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__list > li:not(:last-child) {
  display: block;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__address {
  color: #ffffff;
  @include text-properties(null, 14px, 1.71, 0.03em);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}
