.header__button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  cursor: pointer;
  fill: $main-text-color;
  background-color: $main-bg-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 48px 15px 48px 15px;
  background-color: $main-bg-color;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__close-button {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  cursor: pointer;

  fill: $main-text-color;
  background-color: $main-bg-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.mobile__nav {
  margin-left: 25px;

  @media screen and (max-width: 400px) {
    margin-left: 0;
  }
}

.mobile-nav__link {
  display: inline-block;
  margin-bottom: 32px;

  @include text-properties(500, 40px, 1.18, 0.02em);
  color: $main-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile__contacts {
  margin-left: 25px;

  @media screen and (max-width: 400px) {
    margin-left: 0;
  }
}

.mobile-tel__link {
  display: inline-block;
  margin-bottom: 32px;

  @include text-properties(500, 34px, 1, 0.02em);
  color: $accent-color;

  @media screen and (max-width: 400px) {
    @include text-properties(500, 30px, 1, 0.01em);
  }
}

.mobile-mail__link {
  display: inline-block;
  margin-bottom: 64px;

  @include text-properties(500, 24px, 1.17, 0.02em);
  color: $second-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile__socials {
  margin-left: 25px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;

  @media screen and (max-width: 400px) {
    margin-left: 0;
    gap: 10px;
  }

  @media screen and (max-width: 340px) {
    gap: 4px;
  }
}

.mobile-socials__item {
  position: relative;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: -20px;

    width: 22px;
    height: 0px;
    border: 1px solid #afb1b8;

    transform: translateY(-50%) rotate(90deg);

    @media screen and (max-width: 400px) {
      right: -15px;
    }

    @media screen and (max-width: 340px) {
      opacity: 0;
    }
  }
}

.mobile-socials__link {
  @include text-properties(500, 18px, 1.22, 0.02em);
  color: $accent-color;

  @media screen and (max-width: 400px) {
    @include text-properties(400, null, null, 0.01em);
  }
}
