.example {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  padding-bottom: 94px;
}

.examples__title {
  margin-bottom: 50px;

  color: $main-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.example__item {
  flex-basis: calc((100% - 60px) / 3);
}

.example__wrapping {
  position: relative;
}

.example__description {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-bg-color;
}
