.example {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  padding-bottom: 94px;
}

.examples__title {
  margin-bottom: 50px;

  text-align: center;
  @include text-properties(700, 36px, 1.1, 0.03em);
  color: $main-text-color;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.example__item {
  flex-basis: calc((100% - 60px) / 3);
}

.example__wrapping {
  position: relative;
}

.example__description {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);

  text-align: center;
  @include text-properties(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $main-bg-color;
}
