.hat {
  margin: 0 auto;
  max-width: 480px;
  height: 400px;

  &--position {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  background-image: linear-gradient(#2f303a66 40%, #2f303a66 40%),
    url(../images/mobile/background-mob@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;

  @include retina {
    background-image: linear-gradient(#2f303a66 40%, #2f303a66 40%),
      url(../images/mobile/background-mob@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(#2f303a66 40%, #2f303a66 40%),
      url(../images/tablet/background-tab.jpg);

    @include retina {
      background-image: linear-gradient(#2f303a66 40%, #2f303a66 40%),
        url(../images/tablet/background-tab@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(#2f303a66 40%, #2f303a66 40%),
      url(../images/desktop/hat-background.jpg);

    @include retina {
      background-image: linear-gradient(#2f303a66 40%, #2f303a66 40%),
        url(../images/desktop/background@2x.jpg);
    }
  }
}

.hat__title {
  display: block;
  margin-bottom: 30px;
  max-width: 360px;

  @include text-properties(900, 26px, 1.62, 0.06em);
  color: $main-bg-color;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hat__button {
  display: block;
  padding: 10px 32px;
  min-width: 200px;

  border: 0px;
  border-radius: 4px;
  background-color: $accent-color;
  color: $main-bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  text-align: center;
  @include text-properties(700, 16px, 1.88, 0.06em);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $main-bg-color;
    background-color: #188ce8;
  }
}
