body {
  color: $main-text-color;
  background-color: $main-bg-color;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
