.team-item__soc-links {
  margin-bottom: 30px;
}

.footer__soc-links {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.soc-links__caption {
  margin-bottom: 20px;
  color: $main-bg-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.soc-links__list {
  display: flex;
  justify-content: center;
}

.soc-links__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.soc-link__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.soc-link__icon {
  fill: currentColor;
}

.soc-link__link--team-colors {
  background-color: $main-bg-color;
  color: $icons-main-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $main-bg-color;
  }
}
.soc-link__link--footer-colors {
  background-color: rgba(255, 255, 255, 0.1);
  color: $main-bg-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
